fastapi
uvicorn[standard]>=0.30.0
gunicorn>=23.0.0
pydantic
requests
openai  # hoặc anthropic
selenium
webdriver-manager
pillow  # Dùng để xử lý ảnh cho Visual Diff
python-multipart  # Để upload file/nhận ảnh nếu cần
python-dotenv
langchain-core
langchain-openai 
langchain
langchain-google-genai
langgraph